html, body {
  font-family: 'Open Sans', Courier;
  font-size: 9px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Semibold';
}

h1 {
  font-size: 15px;
}
h2 {
  font-size: 13px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-size: 11px;
}

img.header {
  height: 2.7cm;
  float: left;
  margin-top: 1.9mm;
  margin-left: 0.12816mm;
  width: auto;
}

table {
  font-size: inherit;
}

table > thead > tr > th {
  font-family: 'Open Sans Semibold';
}

table.firstpage {
  margin-top: 9cm;
  white-space: nowrap;
  width: 25%;
}

table.firstpage.header {
  margin: 1.5cm 0 0 7.82cm;
  width: 49.25%;
}

table.firstpage.header > tbody > tr  > th,
table.firstpage.header > tbody > tr  > td {
  font-size: 8px;
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Open Sans Semibold';
  font-size: 26px;
}

.subtitle {
  font-size: 17px;
}


/* open-sans-regular - greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-regular.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'), url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-regular.woff') format('woff'), /* Modern Browsers */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
/* open-sans-600 - greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese */
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-600.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-600.woff2') format('woff2'), /* Super Modern Browsers */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-600.woff') format('woff'), /* Modern Browsers */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('http://dataserver.nexbyte.ch/web/nextevent/markdown-themeable-pdf/fonts/open-sans/open-sans-v13-greek-ext_latin-ext_cyrillic_latin_greek_cyrillic-ext_vietnamese-600.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
