html, body {
  font-family: "Corpid", Courier;
  font-size: 10px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}

img.header {
  top: 0;
  left: 0;
  float: left;
  height: 1.499cm;  
  margin-top: -2mm;
  margin-left: -9mm;
}

table {
  font-size: 10px;
}

table.firstpage {
  margin: 3cm 0 0 -0.5mm;
}

table.firstpage > tbody > tr > td:nth-child(2) {
  padding: 8px 8px 8px 2.7cm;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 3.92cm;
}

.subtitle {
  font-size: 18.5px;
  font-weight: 500;
  margin-top: 0.5mm;
}


/* corpid converted from pbf to woff with FontForge */
@font-face {
  font-family: 'Corpid';
  font-weight: 400;
  src: url('http://dataserver.nexbyte.ch/intern/ci/fonts/pdf/Corpid-Light.woff') format('woff');
}
@font-face {
  font-family: 'Corpid';
  font-style: italic;
  font-weight: 400;
  src: url('http://dataserver.nexbyte.ch/intern/ci/fonts/pdf/Corpid-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Corpid';
  font-weight: 500;
  src: url('http://dataserver.nexbyte.ch/intern/ci/fonts/pdf/Corpid.woff') format('woff');
}
@font-face {
  font-family: 'Corpid';
  font-style: italic;
  font-weight: 500;
  src: url('http://dataserver.nexbyte.ch/intern/ci/fonts/pdf/Corpid-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Corpid';
  font-weight: 600;
  src: url('http://dataserver.nexbyte.ch/intern/ci/fonts/pdf/Corpid-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Corpid';
  font-style: italic;
  font-weight: 600;
  src: url('http://dataserver.nexbyte.ch/intern/ci/fonts/pdf/Corpid-BoldItalic.woff') format('woff');
}