@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body {
  font-family: 'Open Sans', Courier;
  font-size: 15px;
}

h1 {
  font-size: 25.5px;
}
h2 {
  font-size: 21.5px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 19px;
}

img.header {
  height: 4.78cm;
  float: left;
  margin-left: 1.42cm;
  width: auto;
}

li {
  line-height: 1.5;
}

ol {
  padding-left: 33px;
}

table > tbody > tr  > th,
table > tbody > tr  > td {
  vertical-align: top;
}

table.firstpage {
  margin-top: 14.95cm;
  width: 17.5cm;
}

table.header {
  float: right;
  font-family: 'Open Sans', Courier;
  font-weight: lighter;
  margin: -2.4cm -1.38cm 0 15cm;
  white-space: nowrap;
  width: 14cm;
}

table.header > tbody > tr  > th,
table.header > tbody > tr  > td {
  font-size: 14px;
  margin: 0;
  line-height: 1.2;
  padding: 0;
}

.title {
  font-weight: bold;
  font-size: 42.5px;
}

.subtitle {
  font-size: 28px;
}