html, body {
  color: black;
  font-weight: lighter;
  line-height: 1.4;
}

body {
  margin-left: 3.35cm;
  margin-right: 3.35cm;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 0px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

h1 {
  page-break-before: always;
}

h1:first-of-type {
  page-break-before: auto;
}

h2 {
  margin-top: 30px;
  margin-bottom: 9px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 20px;
}

h6[id^=tags] {
  display: none;
}

div.page-break {
  page-break-before: always;
}

a, a:visited, a:active, a:hover, a[href]:after {
  border-bottom: 1.5px solid gray;
  color: inherit;
  text-decoration: none;
}

code {
  background-color: #EAEAEA;
  color: black;
  font: 15px Consolas, 'Liberation Mono', Menlo, 'Courier New','Corpid', Courier, monospace;
  font-weight: lighter;
  padding: 2px;
}

img {
  width: 100%;
}

p {
  /*margin-block-start: 0.5em;*/
  margin-top: 0;
}

pre {
  page-break-inside: avoid;
  white-space: pre-wrap;
}

pre code {
  background-color: #EAEAEA;
  border-radius: 0;
  color: #505050;
  display: inherit;
  padding: 8px;
}

strong{
  font-weight: bold;
}

table {
  border-collapse: collapse;
  font-size: inherit;
  margin-bottom: 30px;
  width: 100%;
}

table thead {
  display: table-header-group;
  page-break-before: auto;
}

table > thead > tr > th,
table > tbody > tr > td {
  border: 1px solid #d3d3d3;
  padding: 1rem;
  page-break-inside: avoid;
  page-break-before: auto;
}

table > thead > tr > th {
  background-color: #EAEAEA;
  border-bottom: 0px;
  font-weight: bold;
  text-align: left;
  page-break-inside: avoid;
  page-break-before: auto;
}

table > tbody > tr > td {
  font-weight: lighter;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #FFF;
  page-break-inside: avoid;
  page-break-before: auto;
}

table.firstpage {
  border: 0px solid white;
  margin-left: 0;
  line-height: 0.5;
  padding-left: 0;
  white-space: nowrap;
}

table.firstpage > tbody > tr > th,
table.firstpage > tbody > tr > td {
  color: inherit;
  background-color: inherit;
  border: 0px solid white;
  margin-left: 0;
  padding-left: 0;
  page-break-inside: avoid;
  page-break-before: auto;
}

ul  {
  list-style-type: square;
  margin-top: 0;
  padding-left: 15px;
}

.title {
  padding-top: 5.4cm;
}

.subtitle {
  font-weight: normal;
}