<div class="container">
    <h2>Pfad setzen</h2>
    <div class="row">
            <div class="alert alert-danger hide file_danger_alert" role="alert">
                Diese Datei existiert bereits!
            </div>
            <div class="col-md-6">
                <input type="hidden" name="md_file_namespace" class="hide md_file_namespace" value="<%- namespace %>" />
                <input type="text" name="md_file_path" class="form-control md_file_path" class="form-control" placeholder="/web/projects/hackmd/conzept.md" />
                <a href="#" class="btn btn-default md_file_save" />Speichern</a>
            </div>
            <div class="col-md-6">
                <div class="alert alert-info" role="alert">
                    Damit das Dokument veröffentlicht werden kann, muss zuerst ein Pfad auf dem Dataserver mit dem entsprechenden Dateinamen gesetzt werden.
                </div>
            </div>
    </div>
</div>